@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row m-4">
    <div class="col-sm-12">
        <div class="card">
            <div class="card-header" style="text-align:center">
                <div style="text-align:initial">
                    <a class="btn btn btn-outline-info btn-sm" href="@Url.Action("Home","MaxFit")">Tabla de Usuarios</a>
                </div>
                <div class="container">
                    <div style="display:inline-block">
                        <label class="form-label"><b>Fecha Inicio</b></label>
                        <input type="datetime-local" class="form-control" id='inputdateinitial' />
                    </div>
                    <div style="display:inline-block">
                        <label class="form-label"><b>Fecha Final</b></label>
                        <input type="datetime-local" class="form-control" id='inputdatefinal' />
                    </div>
                    <div style="display:inline-block">
                        <label class="form-label"></label>
                        <button class="btn btn-danger btn-sm" onclick="FindDrinks()">Buscar</button>
                    </div>
                </div>
                <div class="container" style="text-align:center; margin-top:10px">
                    <div class="form-group">
                        <label class="form-label"><b>Valor Total: </b></label>
                        <input type="number" name="Name" class="form-control" id="result" style="display:inline-block; width:20%;text-align:center" disabled>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <table id="tbDrink" class="table">
                    <thead>
                        <tr>
                            <th>Fecha de Venta</th>
                            <th>Valor</th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script>
        var table_user;
        $(document).ready(function () {
            table_user = $('#tbDrink').DataTable({
                "ajax": {
                    "url": "@Url.Action("FindAllDrinks","Drink")",
                    "type": "GET",
                    "datatype": "json"

                },
                "columns": [
                    { "data": "Date" },
                    { "data": "Price" }

                ]
                });
        });
        function FindDrinks() {
            var $data = {
                drinkSubmit: {
                        InitialDate: $("#inputdateinitial").val(),
                        FinlaDate: $("#inputdatefinal").val()
                    }
            }
            console.log(JSON.stringify($data))
            jQuery.ajax({
                url: "@Url.Action("FindFilterDrinks", "Drink")",
                type: "POST",
                data: JSON.stringify($data),
                datatype: "json",
                contentType: "application/json; charset-utf-8",
                success: function (data) {
                    table_user.clear();
                    table_user.rows.add(data.result.Drinks);
                    table_user.draw();
                    $("#result").val(data.result.Total);
                }
                })
        }
        $(function () {
            $('#dateinitial').datetimepicker();
            $('#datefinal').datetimepicker({
                useCurrent: false //Important! See issue #1075
            });
            $("#dateinitial").on("dp.change", function (e) {
                $('#datefinal').data("DateTimePicker").minDate(e.date);
            });
            $("#datefinal").on("dp.change", function (e) {
                $('#dateinitial').data("DateTimePicker").maxDate(e.date);
            });
        });
    </script>
}


